<div class="container">
  <mat-card class="col-7 centrar-card">
    <mat-card-title class="full-titulo">
      <h2 class="centra">Agregar Producto</h2>
    </mat-card-title>
    <mat-card-content>
      <p class="full">
        <button class="izq" mat-raised-button color="primary" (click)="volver()"><mat-icon>arrow_back</mat-icon></button>
      </p>
      <form (submit)="guardar()" [formGroup]="productoForm">
      <p>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input type="text" matInput placeholder="Ej. borradores" formControlName="nombre" required>
        <mat-error *ngIf="this.esValidoNombre()">
          Nombre es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      </p>
      <p>
      <mat-form-field>
        <mat-label>Porcentaje</mat-label>
        <input type="number" matInput placeholder="Ej. 15" formControlName="porcentaje" required>
        <mat-error *ngIf="this.esValidoPorcentaje()">
          Porcentaje es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      </p>
      <p>
      <mat-form-field>
        <mat-label>Precio</mat-label>
        <input type="number" matInput placeholder="Ej. 200" formControlName="precio" required>
        <mat-error *ngIf="this.esValidoPrecio()">
          Precio es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      </p>
      <p>
      <mat-form-field>
        <mat-label>Cantidad</mat-label>
        <input type="number" matInput placeholder="Ej. 5" formControlName="cantidad" required>
        <mat-error *ngIf="this.esValidoCantidad()">
          Cantidad es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
      </p>
      <p>
      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoria">
          <mat-option *ngFor="let cat of categorias" [value]="cat.id">
            {{cat.nombre}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.esValidoCategoria()">
          Categoria es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
      </p>
        <p>
          <mat-error *ngIf="this.esInvalidoForm">
            Formulario es <strong>invalido</strong>
          </mat-error>
        </p>

        <div class="alert alert-success" *ngIf="this.agregado">
          <strong>Correcto!</strong> Produto se agrego correctamente.
        </div>

      <p class="centrar-boton">
        <button class="animacion centrar" type="submit" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
      </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
