<div class="container">
  <mat-card class="col-7 centrar-card">
    <mat-card-title class="full-titulo">
      <h2 class="centra">Ver Producto</h2>
    </mat-card-title>
    <mat-card-content>
      <p class="full">
        <button class="izq" mat-raised-button color="primary" (click)="volver()"><mat-icon>arrow_back</mat-icon></button>
      </p>
      <form [formGroup]="productoForm">
        <p>
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input type="text" matInput placeholder="Ej. borradores" formControlName="nombre" required [value]="this.productoAntig.nombre">
            <mat-error *ngIf="this.esValidoNombre()">
              Nombre es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-label>Porcentaje</mat-label>
            <input type="number" matInput placeholder="Ej. 15" formControlName="porcentaje" required [value]="this.productoAntig.porcentaje">
            <mat-error *ngIf="this.esValidoPorcentaje()">
              Porcentaje es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-label>Precio</mat-label>
            <input type="number" matInput placeholder="Ej. 200" formControlName="precio" required [value]="this.productoAntig.precio">
            <mat-error *ngIf="this.esValidoPrecio()">
              Precio es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-label>Cantidad</mat-label>
            <input type="number" matInput placeholder="Ej. 5" formControlName="cantidad" required [value]="this.productoAntig.cantidad">
            <mat-error *ngIf="this.esValidoCantidad()">
              Cantidad es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categoria" [value]="this.productoAntig.id_categoria">
              <mat-option *ngFor="let cat of categorias" [value]="cat.id">
                {{cat.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="this.esValidoCategoria()">
              Categoria es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </p>

      </form>
    </mat-card-content>
  </mat-card>
</div>
